@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,800");





html{
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


body{
    border: 0;
	margin: 0;
	padding: 0;
	font-size: 14px;
    background-color: hsl(256, 100%, 98%);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



.nav-trans {
    font-family: "Raleway", Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    display: table;
    float: left;
    vertical-align: middle;
    padding: 0;
    font-size: 15px;
    font-weight: 800;
    margin-left: auto;
    margin-bottom: 2%;
    margin-top: 5%;
    width: calc(100% + 3.05rem);
    animation:fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s;
  }
  .nav-trans * {
    box-sizing: border-box;
  }
  .nav-trans li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
  }
  .nav-trans a {
    padding: 0.5em 0;
    color: rgb(79, 0, 169);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .nav-trans a:before,
  .nav-trans a:after {
    position: absolute;
    -webkit-transition:all  0.35s linear;
    transition: all 0.35s ease;
  }
  .nav-trans a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: hsl(275, 100%, 25%);
  }
  .nav-trans a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    
   
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
  }
  .nav-trans a:hover:before,
  .nav-trans .current a:before {
    opacity: 0.5;
    width: 100%;
  }
  .nav-trans a:hover:after,
  .nav-trans .current a:after {
    max-width: 100%;
  }

.nav-img{
    display: table;
    margin-top: 5%;
    margin-left: 25%;
    animation:fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s;
}



/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
}


/* Medium Devices, Desktops */
@media (min-width : 992px) {

}

@media (max-width : 767px){

	
}


/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {

    .nav-trans{
       
        font-size: 0.60em;
        margin-left: 14%;
    }

    .nav-img{
      width: 175px;
        display: table;
        margin-top: 5%;
        margin-left: 27%;
    }
 
}



@media (min-width : 320px) and (max-width : 400px){
    .nav-trans{
        font-size: 0.55em;
        margin-left: 9%;
    }

    .nav-img{
      width: 155px;
        display: table;
        margin-top: 5%;
        margin-left: 20%;
    }
}
 

